@media screen and (min-width: 481px){
.ind{width:80px;height:30px;border:1px solid white;margin-left:1px}
table {
    border-collapse: collapse;
    width: 99%;
    height: auto;
    table-layout: fixed;
}

th, td {
    border: 2px solid white;
    padding: 0;
    text-align: center;
    height: 25px;
    box-sizing: border-box;
}

th {
    background-color: blue;
    border: 2px solid green;
}

tr {
    width:99%;
    height: 25px;
    border: none;
}

}
.inp{background-color:darkgreen;color:white}